html {
  font-family: serif;
}

.btn-ghost {
  color: #fff;
  border-color: #fff;
}

.btn-ghost:hover {
  background-color: #efefef;
  color: #495562;
  border-color: #efefef;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

@media only screen and (min-width: 60em) {

  .info {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #fff;
    width: 100%;
    background-color: #97a49b;
    transform: translate(-50%);
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, .1), rgba(73, 85, 98, .9));
  }

}
