html {
  font-family: serif;
}

.btn-ghost {
  background-color: #97a49b;
  color: #fff;
}

.btn-ghost:hover {
  background-color: #efefef;
  color: #495562;
  border-color: #efefef;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
}

@media only screen and (min-width: 38em) {

.info {
  background-color: #495562;
}

}
